bin/*
src/*.o
src/util/*.o
config.cache
config.log
config.status
src/Makefile
src/conf.h
src/util/Makefile
src/.accepted
src/depend
src/util/depend
lib/plrfiles/
lib/etc/last
syslog
lib/etc/plrmail
lib/plrobjs/
log/
syslog.CRASH
lib/etc/time
